<section class="album-covers container clearfix">
  <div class="collection-album-container column fourth" ng-repeat="album in collection.albums">
    <img src="/assets/images/album_covers/01.png"/>
    <div class="collection-album-info caption">
      <p>
      <!-- todo -->
        <a class="album-name" ui-sref="album">The Colors</a>
        <br/>
        <!-- todo -->
        <a ui-sref="album">Pablo Picasso</a>
        <br/>
        X songs
      </p>
    </div><!--/collection-album-info-->
  </div><!--collection-album-container-->
 </section><!--/album-covers-->