<section class="hero-content">
  <h1 class="hero-title">{{ landing.heroTitle }}</h1>
</section><!--/hero-content-->

<section class="selling-points container">
  <div class="point column third">
    <span class="ion-music-note"></span>
      <h5>Choose your music</h5>
      <p>The world is full of music; why should you have to listen to music that someone else chose?</p>
    </div><!--/point-->
  <div class="point column third">
    <span class="ion-radio-waves"></span>
    <h5>Unlimited, streaming, ad-free</h5>
    <p>No arbitrary limits. No distractions.</p>
  </div><!--/point-->
  <div class="point column third">
    <span class="ion-iphone"></span>
    <h5>Mobile enabled</h5>
    <p>Listen to your music on the go. This streaming service is available on all mobile platforms.</p>
    </div><!--/point-->
</section><!--/selling-points-->